<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>
            <td>
                Delivery Details
            </td>
        </tr>
        <tr>
            <td>Order Number:</td>
            <!-- <td data-th-field="${delivery.orderID}"></td> -->
        </tr>
        <tr>
            <td>Your order will be delivered to</td>
            <!-- <td data-th-field="${delivery.address}"></td> -->
        </tr>
        <tr>
            <td>Pizza Cost</td>
            <!-- <td>$ <span data-th-field="${delivery.pizzaOrder.pizzaCost}"></span></td> -->
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
        </tr>
    </table>
</body>
</html>